* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  min-height: 98.5vh;
  border: 10px solid lightgray;
  margin: 5px;
  padding: 5px;
}

a {
  /* text-decoration: none; */
  text-decoration: inherit;
  color: inherit;
}